body {
  text-align: center;
  background-color: darkred;
}

.App-header {
  background-color: black;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

h1 {
  font-family: lucida;
  font-size: xx-large;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
